displayimages.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
    <name>displayimages</name>
    <snippet>
        <processGroups>
            <id>c4d503a0-3311-3102-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>c4d503a0-3311-3102-bc36-fa9ac3e15397</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>a10fef2f-a87f-3798-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>a10fef2f-a87f-3798-8fbe-a357ddd8709e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>95beb010-fe88-3a17-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>95beb010-fe88-3a17-a970-6a0aa3071651</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>0a49b738-5dad-3a76-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0a49b738-5dad-3a76-b264-63cc98c3aa6f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a4b97c4f-110c-3267-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>a4b97c4f-110c-3267-9cae-74206e43cb47</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-1631.894337024641</x>
                        <y>735.8139062453076</y>
                    </bends>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>a7f136ca-cd87-32f9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a7f136ca-cd87-32f9-bb0a-f8e5695f8d0f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>isjsonpost</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>95beb010-fe88-3a17-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>95beb010-fe88-3a17-a970-6a0aa3071651</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a8370c11-4c6d-320f-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>a8370c11-4c6d-320f-921c-655460a32ac1</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>a7f136ca-cd87-32f9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a7f136ca-cd87-32f9-bb0a-f8e5695f8d0f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>95beb010-fe88-3a17-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>95beb010-fe88-3a17-a970-6a0aa3071651</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b07da074-6312-3968-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>b07da074-6312-3968-8745-d08aa989f75a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>248a2d62-f9ad-3a57-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>248a2d62-f9ad-3a57-9309-73e8a28af712</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>13644b16-3f98-3afd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>13644b16-3f98-3afd-abf4-de4d12061da4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c246cfd7-2b73-31f9-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>c246cfd7-2b73-31f9-9ef1-321e025cb998</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>fe3e90fe-c902-3130-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fe3e90fe-c902-3130-8e53-44ee660233e9</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>00333776-6a9d-3c4d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>00333776-6a9d-3c4d-931c-1eb6483cda0a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c4f29e93-d78a-3a84-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>c4f29e93-d78a-3a84-8a32-7bf38c91ba8a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-105.39434560770974</x>
                        <y>687.8138909865186</y>
                    </bends>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>248a2d62-f9ad-3a57-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>248a2d62-f9ad-3a57-9309-73e8a28af712</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>isjsonpost</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>13644b16-3f98-3afd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>13644b16-3f98-3afd-abf4-de4d12061da4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>df329b3f-44e8-3485-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>df329b3f-44e8-3485-ad26-76be91a49715</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>988b5611-60d4-3eaa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>988b5611-60d4-3eaa-83a3-1cd87f6dafa0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>eec275a4-e4a7-319f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>eec275a4-e4a7-319f-a9cf-add7cdb87732</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ed86871b-edd8-3247-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>ed86871b-edd8-3247-949d-742c9245efe5</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>e4104a68-bbf3-3db3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e4104a68-bbf3-3db3-8746-6432f5f1ff24</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>95beb010-fe88-3a17-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>95beb010-fe88-3a17-a970-6a0aa3071651</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f1543f9b-7cf6-3db0-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>f1543f9b-7cf6-3db0-a06c-ed04294d53b2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>01665da2-dc35-3e3d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>01665da2-dc35-3e3d-8f5b-878b83480ce8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>d830e131-2f04-3419-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d830e131-2f04-3419-be93-3368c1368cf9</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2279cfbe-ddbf-37a2-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>2279cfbe-ddbf-37a2-809a-df42e2b37c20</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>13644b16-3f98-3afd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>13644b16-3f98-3afd-abf4-de4d12061da4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>65eed31c-de29-34f4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>65eed31c-de29-34f4-aee6-747ecf129329</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>30388b28-690f-3891-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>30388b28-690f-3891-bc69-51ba2a34751b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>eec275a4-e4a7-319f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>eec275a4-e4a7-319f-a9cf-add7cdb87732</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>13644b16-3f98-3afd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>13644b16-3f98-3afd-abf4-de4d12061da4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3e1fc840-0f4e-3955-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>3e1fc840-0f4e-3955-8dfa-8f24d3c35553</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>d830e131-2f04-3419-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d830e131-2f04-3419-be93-3368c1368cf9</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>fe3e90fe-c902-3130-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fe3e90fe-c902-3130-8e53-44ee660233e9</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6701f79c-d5a7-3867-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>6701f79c-d5a7-3867-8a4e-0f8959c69145</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1354.6056620216848</x>
                        <y>600.2139206194067</y>
                    </bends>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>8ba6da9d-274e-366f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8ba6da9d-274e-366f-83ea-a85afaf685cd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>isjsonpost</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>fe3e90fe-c902-3130-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fe3e90fe-c902-3130-8e53-44ee660233e9</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>766d8828-8122-3789-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>766d8828-8122-3789-b93d-d3b68ccf820d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>0515dce1-40be-392a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0515dce1-40be-392a-9866-e1b407ef4361</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>c4d503a0-3311-3102-0000-000000000000</groupId>
                        <id>e4104a68-bbf3-3db3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e4104a68-bbf3-3db3-8746-6432f5f1ff24</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>61adeec6-36db-31e1-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <versionedComponentId>61adeec6-36db-31e1-b90c-c52d181c62ac</versionedComponentId>
                    <bundle>
                        <artifact>nifi-http-context-map-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Maximum Outstanding Requests</key>
                            <value>
<name>Maximum Outstanding Requests</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Request Expiration</key>
                            <value>
<name>Request Expiration</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>StandardHttpContextMap</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Maximum Outstanding Requests</key>
                        </entry>
                        <entry>
                            <key>Request Expiration</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.http.StandardHttpContextMap</type>
                </controllerServices>
                <labels>
                    <id>c5a406c5-1fbe-3b7e-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>677.0000400816652</x>
                        <y>-129.98612948298705</y>
                    </position>
                    <versionedComponentId>c5a406c5-1fbe-3b7e-908a-796e6b1e99ff</versionedComponentId>
                    <height>250.99998474121094</height>
                    <label>Display HTML Page</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>919.9998779296875</width>
                </labels>
                <labels>
                    <id>d8af634a-3b55-35cb-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1946.9999599183348</x>
                        <y>-4.9861094558264085</y>
                    </position>
                    <versionedComponentId>d8af634a-3b55-35cb-9cbc-6f082f1a5683</versionedComponentId>
                    <height>161.0</height>
                    <label>HTML List Page</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>979.9998779296875</width>
                </labels>
                <labels>
                    <id>64412b23-9c85-3dd8-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-639.9999599183348</x>
                        <y>-40.98613997340453</y>
                    </position>
                    <versionedComponentId>64412b23-9c85-3dd8-a138-4df1b1f32f7f</versionedComponentId>
                    <height>162.99998474121094</height>
                    <label>Display Current Image</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>818.9999389648438</width>
                </labels>
                <processors>
                    <id>8ba6da9d-274e-366f-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>1208.0000400816652</x>
                        <y>842.0138905441736</y>
                    </position>
                    <versionedComponentId>8ba6da9d-274e-366f-83ea-a85afaf685cd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>95beb010-fe88-3a17-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1728.7887236676902</x>
                        <y>524.0139515793298</y>
                    </position>
                    <versionedComponentId>95beb010-fe88-3a17-a970-6a0aa3071651</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>isjsonpost</key>
<value>
    <name>isjsonpost</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>isjsonpost</key>
<value>${mime.type:startsWith('application/json')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Send Page or Parse Post</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isjsonpost</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>988b5611-60d4-3eaa-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-890.9999675477293</x>
                        <y>1012.3846095653432</y>
                    </position>
                    <versionedComponentId>988b5611-60d4-3eaa-83a3-1cd87f6dafa0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Status Code</key>
<value>
    <name>HTTP Status Code</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Status Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>61adeec6-36db-31e1-0000-000000000000</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>HandleHttpResponse</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
                </processors>
                <processors>
                    <id>a7f136ca-cd87-32f9-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1475.9999503815916</x>
                        <y>819.6138609112854</y>
                    </position>
                    <versionedComponentId>a7f136ca-cd87-32f9-bb0a-f8e5695f8d0f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>d830e131-2f04-3419-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>570.5227529158237</x>
                        <y>695.0057217844023</y>
                    </position>
                    <versionedComponentId>d830e131-2f04-3419-be93-3368c1368cf9</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File to Fetch</key>
<value>
    <name>File to Fetch</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>
    <name>Move Conflict Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>
    <name>Log level when file not found</name>
</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>
    <name>Log level when permission denied</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File to Fetch</key>
<value>/opt/demo/images.html</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>Keep Existing</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>ERROR</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>ERROR</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>FetchFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>not.found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>permission.denied</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchFile</type>
                </processors>
                <processors>
                    <id>e4104a68-bbf3-3db3-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2222.9999599183348</x>
                        <y>730.0138905441736</y>
                    </position>
                    <versionedComponentId>e4104a68-bbf3-3db3-8746-6432f5f1ff24</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Command Arguments</key>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>/opt/demo/index.sh</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>/opt/demo</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>655555</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>ExecuteStreamCommand</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>nonzero status</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>eec275a4-e4a7-319f-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-889.4772547135708</x>
                        <y>782.6056921515142</y>
                    </position>
                    <versionedComponentId>eec275a4-e4a7-319f-a9cf-add7cdb87732</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File to Fetch</key>
<value>
    <name>File to Fetch</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>
    <name>Move Conflict Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>
    <name>Log level when file not found</name>
</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>
    <name>Log level when permission denied</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File to Fetch</key>
<value>/opt/demo/images2/current.jpg</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>Keep Existing</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>ERROR</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>ERROR</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>FetchFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>not.found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>permission.denied</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchFile</type>
                </processors>
                <processors>
                    <id>fe3e90fe-c902-3130-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>850.2112839617043</x>
                        <y>431.4139506946399</y>
                    </position>
                    <versionedComponentId>fe3e90fe-c902-3130-8e53-44ee660233e9</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>isjsonpost</key>
<value>
    <name>isjsonpost</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>isjsonpost</key>
<value>${mime.type:startsWith('application/json')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Send Page or Parse Post</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isjsonpost</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>00333776-6a9d-3c4d-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>840.9876012420336</x>
                        <y>182.0138905441736</y>
                    </position>
                    <versionedComponentId>00333776-6a9d-3c4d-931c-1eb6483cda0a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
<value>
    <name>Allowed Paths</name>
</value>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>
    <name>Default URL Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>
    <name>Allow GET</name>
</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>
    <name>Allow POST</name>
</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>
    <name>Allow PUT</name>
</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>
    <name>Allow DELETE</name>
</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>
    <name>Allow HEAD</name>
</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>
    <name>Allow OPTIONS</name>
</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
<value>
    <name>Additional HTTP Methods</name>
</value>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>
    <name>Client Authentication</name>
</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>
    <name>container-queue-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Listening Port</key>
<value>9089</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>princeton1.field.hortonworks.com</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>61adeec6-36db-31e1-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>No Authentication</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>50</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Server Static Page and Get Post Backs</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
                </processors>
                <processors>
                    <id>01665da2-dc35-3e3d-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>569.0000400816652</x>
                        <y>924.7846391982314</y>
                    </position>
                    <versionedComponentId>01665da2-dc35-3e3d-8f5b-878b83480ce8</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Status Code</key>
<value>
    <name>HTTP Status Code</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Status Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>61adeec6-36db-31e1-0000-000000000000</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>HandleHttpResponse</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
                </processors>
                <processors>
                    <id>0515dce1-40be-392a-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1880.9999675477293</x>
                        <y>984.384548530187</y>
                    </position>
                    <versionedComponentId>0515dce1-40be-392a-9866-e1b407ef4361</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Status Code</key>
<value>
    <name>HTTP Status Code</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Status Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>61adeec6-36db-31e1-0000-000000000000</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>HandleHttpResponse</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
                </processors>
                <processors>
                    <id>0a49b738-5dad-3a76-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1726.9999370301512</x>
                        <y>220.0138905441736</y>
                    </position>
                    <versionedComponentId>0a49b738-5dad-3a76-b264-63cc98c3aa6f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
<value>
    <name>Allowed Paths</name>
</value>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>
    <name>Default URL Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>
    <name>Allow GET</name>
</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>
    <name>Allow POST</name>
</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>
    <name>Allow PUT</name>
</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>
    <name>Allow DELETE</name>
</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>
    <name>Allow HEAD</name>
</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>
    <name>Allow OPTIONS</name>
</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
<value>
    <name>Additional HTTP Methods</name>
</value>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>
    <name>Client Authentication</name>
</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>
    <name>container-queue-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Listening Port</key>
<value>9199</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>princeton1.field.hortonworks.com</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>61adeec6-36db-31e1-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>No Authentication</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>50</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Server Images</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
                </processors>
                <processors>
                    <id>13644b16-3f98-3afd-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-517.7887236676902</x>
                        <y>468.01395157932984</y>
                    </position>
                    <versionedComponentId>13644b16-3f98-3afd-abf4-de4d12061da4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>isjsonpost</key>
<value>
    <name>isjsonpost</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>isjsonpost</key>
<value>${mime.type:startsWith('application/json')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Send Page or Parse Post</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>isjsonpost</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>248a2d62-f9ad-3a57-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-134.9999503815916</x>
                        <y>874.6138609112854</y>
                    </position>
                    <versionedComponentId>248a2d62-f9ad-3a57-9309-73e8a28af712</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>65eed31c-de29-34f4-0000-000000000000</id>
                    <parentGroupId>c4d503a0-3311-3102-0000-000000000000</parentGroupId>
                    <position>
                        <x>-509.99993703015116</x>
                        <y>160.0138905441736</y>
                    </position>
                    <versionedComponentId>65eed31c-de29-34f4-aee6-747ecf129329</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
<value>
    <name>Allowed Paths</name>
</value>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>
    <name>Default URL Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>
    <name>Allow GET</name>
</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>
    <name>Allow POST</name>
</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>
    <name>Allow PUT</name>
</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>
    <name>Allow DELETE</name>
</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>
    <name>Allow HEAD</name>
</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>
    <name>Allow OPTIONS</name>
</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
<value>
    <name>Additional HTTP Methods</name>
</value>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>
    <name>Client Authentication</name>
</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>
    <name>container-queue-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Listening Port</key>
<value>9099</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>princeton1.field.hortonworks.com</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>61adeec6-36db-31e1-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>No Authentication</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>50</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Server Images</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
                </processors>
            </contents>
            <name>Display Images</name>
            <variables/>
            <versionControlInformation>
                <bucketId>77af1571-e1a4-435f-af74-7b814f33c565</bucketId>
                <bucketName>conference</bucketName>
                <flowDescription>Front-End Display Images from /opt/demo/images</flowDescription>
                <flowId>55428143-94db-44da-8b70-3e8cb9dd77ac</flowId>
                <flowName>Front-End Display Images</flowName>
                <registryId>adc0435b-3eb5-1e1a-ffff-fffff521cba3</registryId>
                <registryName>nipyapi_console_reg_client_0</registryName>
                <state>UP_TO_DATE</state>
                <stateExplanation>Flow version is current</stateExplanation>
                <version>5</version>
            </versionControlInformation>
        </processGroups>
    </snippet>
    <timestamp>03/28/2018 21:19:48 UTC</timestamp>
</template>
