MovidiusIngest.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>dfd41f8e-015f-1000-f542-c7e0bc412206</groupId>
  <name>MovidiusIngest</name>
  <snippet>
    <connections>
      <id>536ac54b-f3e5-3c73-0000-000000000000</id>
      <parentGroupId>d94c58fd-a3f4-3d32-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
        <id>773eac68-98d1-3125-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>d94c58fd-a3f4-3d32-0000-000000000000</groupId>
        <id>e0fd3cb1-5a4a-3b8f-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>9a96d4a8-a40f-3e24-0000-000000000000</id>
      <parentGroupId>d94c58fd-a3f4-3d32-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hwx-schema-registry-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>url</key>
          <value>
            <name>url</name>
          </value>
        </entry>
        <entry>
          <key>cache-size</key>
          <value>
            <name>cache-size</name>
          </value>
        </entry>
        <entry>
          <key>cache-expiration</key>
          <value>
            <name>cache-expiration</name>
          </value>
        </entry>
      </descriptors>
      <name>HortonworksSchemaRegistry</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>url</key>
          <value>http://172.26.247.222:7788/api/v1</value>
        </entry>
        <entry>
          <key>cache-size</key>
          <value>1000</value>
        </entry>
        <entry>
          <key>cache-expiration</key>
          <value>1 hour</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
    </controllerServices>
    <controllerServices>
      <id>1aa4a949-0b37-35cb-0000-000000000000</id>
      <parentGroupId>d94c58fd-a3f4-3d32-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
      </descriptors>
      <name>JsonTreeReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>9a96d4a8-a40f-3e24-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.json.JsonTreeReader</type>
    </controllerServices>
    <controllerServices>
      <id>70cea84f-0933-3100-0000-000000000000</id>
      <parentGroupId>d94c58fd-a3f4-3d32-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>compression-format</key>
          <value>
            <name>compression-format</name>
          </value>
        </entry>
      </descriptors>
      <name>AvroRecordSetWriter Embed for Save</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>avro-embedded</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>9a96d4a8-a40f-3e24-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>compression-format</key>
          <value>NONE</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
    </controllerServices>
    <inputPorts>
      <id>e0fd3cb1-5a4a-3b8f-0000-000000000000</id>
      <parentGroupId>d94c58fd-a3f4-3d32-0000-000000000000</parentGroupId>
      <position>
        <x>59.657995877187545</x>
        <y>0.0</y>
      </position>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>Movidius Input</name>
      <state>RUNNING</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <processGroups>
      <id>05d3395a-cb38-3c2b-0000-000000000000</id>
      <parentGroupId>d94c58fd-a3f4-3d32-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>144.59495328357434</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>8d5b7265-4bc5-3841-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>e6b5f4c1-deab-3ba8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>notImage</selectedRelationships>
          <source>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>4df2fc33-1b7a-32c7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9bf7c58f-6bda-3ae5-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>4e1c12c1-0d8d-38ae-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>11dbe2c0-c507-35fc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a9aa9a65-efd3-36e1-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>a98c5595-aaba-37e7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>e6b5f4c1-deab-3ba8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>decb9ef3-c007-3a80-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>912ea51b-18d0-3d91-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>a98c5595-aaba-37e7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>efef9f57-1e72-32df-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>b31f774a-ec3f-3216-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>4e1c12c1-0d8d-38ae-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>fd63abf2-9830-3466-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>4df2fc33-1b7a-32c7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>773eac68-98d1-3125-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2e0d1257-6a37-33b6-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>11dbe2c0-c507-35fc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>2b13178d-09f3-385a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>32caf7dd-a9a0-3449-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>cd4fb737-c687-3096-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>isImage</selectedRelationships>
          <source>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>4df2fc33-1b7a-32c7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>58ab61d5-9200-32b2-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>2b13178d-09f3-385a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>05d3395a-cb38-3c2b-0000-000000000000</groupId>
            <id>912ea51b-18d0-3d91-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>773eac68-98d1-3125-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <position>
            <x>700.6135537778479</x>
            <y>62.19028026739761</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Movidius Input</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <processors>
          <id>912ea51b-18d0-3d91-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <position>
            <x>606.7933633481604</x>
            <y>1057.6917565552394</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>record-reader</key>
                <value>1aa4a949-0b37-35cb-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>70cea84f-0933-3100-0000-000000000000</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertRecord</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
          <id>a98c5595-aaba-37e7-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <position>
            <x>608.0000283872229</x>
            <y>823.1115563599269</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>content-type</key>
                <value>
                  <name>content-type</name>
                </value>
              </entry>
              <entry>
                <key>mime.type</key>
                <value>
                  <name>mime.type</name>
                </value>
              </entry>
              <entry>
                <key>schema</key>
                <value>
                  <name>schema</name>
                </value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>
                  <name>schema.name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>content-type</key>
                <value>text/json</value>
              </entry>
              <entry>
                <key>mime.type</key>
                <value>text/json</value>
              </entry>
              <entry>
                <key>schema</key>
                <value>movidiussense</value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>movidiussense</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Set Schema</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>b31f774a-ec3f-3216-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <position>
            <x>601.6200235044104</x>
            <y>1667.876565150285</y>
          </position>
          <bundle>
            <artifact>nifi-hadoop-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <name>Hadoop Configuration Resources</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                  <name>Kerberos Relogin Period</name>
                </value>
              </entry>
              <entry>
                <key>Additional Classpath Resources</key>
                <value>
                  <name>Additional Classpath Resources</name>
                </value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Block Size</key>
                <value>
                  <name>Block Size</name>
                </value>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
                <value>
                  <name>IO Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replication</key>
                <value>
                  <name>Replication</name>
                </value>
              </entry>
              <entry>
                <key>Permissions umask</key>
                <value>
                  <name>Permissions umask</name>
                </value>
              </entry>
              <entry>
                <key>Remote Owner</key>
                <value>
                  <name>Remote Owner</name>
                </value>
              </entry>
              <entry>
                <key>Remote Group</key>
                <value>
                  <name>Remote Group</name>
                </value>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>
                  <name>Compression codec</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>/etc/hadoop/conf/core-site.xml</value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>4 hours</value>
              </entry>
              <entry>
                <key>Additional Classpath Resources</key>
              </entry>
              <entry>
                <key>Directory</key>
                <value>/movidiussense</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>replace</value>
              </entry>
              <entry>
                <key>Block Size</key>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
              </entry>
              <entry>
                <key>Replication</key>
              </entry>
              <entry>
                <key>Permissions umask</key>
              </entry>
              <entry>
                <key>Remote Owner</key>
              </entry>
              <entry>
                <key>Remote Group</key>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>NONE</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Save To HDFS</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
          <id>cd4fb737-c687-3096-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <position>
            <x>1179.7990079787978</x>
            <y>550.2416183681777</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>fail</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
          <id>e6b5f4c1-deab-3ba8-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <position>
            <x>610.2067544614416</x>
            <y>580.7724145142238</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>source</key>
                <value>
                  <name>source</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>source</key>
                <value>remote</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>11dbe2c0-c507-35fc-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <position>
            <x>602.0000283872229</x>
            <y>1330.9913942563408</y>
          </position>
          <bundle>
            <artifact>nifi-hive-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>orc-config-resources</key>
                <value>
                  <name>orc-config-resources</name>
                </value>
              </entry>
              <entry>
                <key>orc-stripe-size</key>
                <value>
                  <name>orc-stripe-size</name>
                </value>
              </entry>
              <entry>
                <key>orc-buffer-size</key>
                <value>
                  <name>orc-buffer-size</name>
                </value>
              </entry>
              <entry>
                <key>orc-compression-type</key>
                <value>
                  <name>orc-compression-type</name>
                </value>
              </entry>
              <entry>
                <key>orc-hive-table-name</key>
                <value>
                  <name>orc-hive-table-name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>orc-config-resources</key>
                <value>/etc/hive/conf/hive-site.xml</value>
              </entry>
              <entry>
                <key>orc-stripe-size</key>
                <value>64 MB</value>
              </entry>
              <entry>
                <key>orc-buffer-size</key>
                <value>10 KB</value>
              </entry>
              <entry>
                <key>orc-compression-type</key>
                <value>NONE</value>
              </entry>
              <entry>
                <key>orc-hive-table-name</key>
                <value>movidiussense</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertAvroToORC</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.hive.ConvertAvroToORC</type>
        </processors>
        <processors>
          <id>2b13178d-09f3-385a-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <position>
            <x>1178.2424737468514</x>
            <y>1169.7352065640575</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>
                  <name>mergecontent-metadata-strategy</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>
                  <name>Tar Modified Time</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Avro</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>Do Not Merge Uncommon Metadata</value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>4</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>1000</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>5</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Filename</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>${file.lastModifiedTime}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>4df2fc33-1b7a-32c7-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <position>
            <x>652.4828684995746</x>
            <y>252.19331619015213</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>isImage</key>
                <value>
                  <name>isImage</name>
                </value>
              </entry>
              <entry>
                <key>notImage</key>
                <value>
                  <name>notImage</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
              </entry>
              <entry>
                <key>isImage</key>
                <value>${filename:contains('jpg')}</value>
              </entry>
              <entry>
                <key>notImage</key>
                <value>${filename:contains('jpg'):not()}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>RouteOnAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>isImage</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>notImage</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>4e1c12c1-0d8d-38ae-0000-000000000000</id>
          <parentGroupId>05d3395a-cb38-3c2b-0000-000000000000</parentGroupId>
          <position>
            <x>1173.6556817546639</x>
            <y>1475.6814956265575</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Rate Control Criteria</key>
                <value>
                  <name>Rate Control Criteria</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Rate</key>
                <value>
                  <name>Maximum Rate</name>
                </value>
              </entry>
              <entry>
                <key>Rate Controlled Attribute</key>
                <value>
                  <name>Rate Controlled Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Time Duration</key>
                <value>
                  <name>Time Duration</name>
                </value>
              </entry>
              <entry>
                <key>Grouping Attribute</key>
                <value>
                  <name>Grouping Attribute</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Rate Control Criteria</key>
                <value>flowfile count</value>
              </entry>
              <entry>
                <key>Maximum Rate</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Rate Controlled Attribute</key>
              </entry>
              <entry>
                <key>Time Duration</key>
                <value>1 min</value>
              </entry>
              <entry>
                <key>Grouping Attribute</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ControlRate</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.ControlRate</type>
        </processors>
      </contents>
      <name>Movidius Ingest</name>
      <variables></variables>
    </processGroups>
  </snippet>
  <timestamp>12/28/2017 16:41:57 EST</timestamp>
</template>
